@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}


.background {
  background-image: url('./8.png');
  background-size: cover;
  background-position: center;
  
}


* {
  margin: 0;
  padding: 0;
  
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body {
  background-color: #110516;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.headline-1 {
    font-family: Poppins;
    color: white;
}



.button-main {
    background-color: var(--background-color);
    border-radius: 5px;
    font-size: 20px;
   
    color: white;  
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    --background-color: #B45EDC;
    --border-size: 2px;
    --accent-color: rgb(85, 198, 255);
    z-index: -0;
   
}

.button-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}


.button-main:hover::before {
    transform: scaleX(1);
}

.button-main2 {
  background-color: var(--background-color);
  border-radius: 5px;
  font-size: 20px;
 
  color: white;  
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  --background-color: #B45EDC;
  --border-size: 2px;
  --accent-color: rgb(255, 85, 85);
  z-index: -0;
 
}

.button-main2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}


.button-main2:hover::before {
  transform: scaleX(1);
}

.button-main3 {
  background-color: var(--background-color);
  border-radius: 5px;
  font-size: 20px;
 
  color: white;  
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  --background-color: #B45EDC;
  --border-size: 2px;
  --accent-color: rgb(117, 227, 255);
  z-index: -0;
 
}

.button-main3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 300ms ease-in-out;
}


.button-main3:hover::before {
  transform: scaleY(1);
}



.list-none li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    filter: brightness(110%);
    text-decoration: underline;
}



 .icons {
    transition: all 0.3s ease-in-out
}

.highlight {
    opacity: 33%;
}

.highlight:hover {
    opacity: 60%;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.icons:hover {
    transform: scale(1); /* Scale up the element slightly */
    filter: brightness(150%); /* Brighten up the element */
    cursor: pointer;
}

.button-secondary {
    font-family: "Poppins";
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    outline: 2px solid;
    outline-offset: -2px;
    padding: 10px 20px;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }



.page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
    
  }

.art-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    padding: 3% 10%;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

  @media (max-width:1158px) {
    
    .art-box { 
        align-items: center;
        justify-content: center;
    }
}


  
  .art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 400px;
    margin: 2rem 1rem;
  }

  .cover-art {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
    
  }
  
  .cover-art:hover {
    opacity: 100%;
    transform: scale(100%) translateY(-5px) translatex(-5px);
    -webkit-box-shadow: 5px 5px 14px 5px rgba(104, 44, 120, 0.51);
    box-shadow: 5px 5px 14px 5px rgba(104, 44, 120, 0.51);
    rotate: -0.4deg;
  }


  .art-text {
    
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    
    
  }

  .nft-man {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
  }
  .nft-man:hover {
    opacity: 100%;
    transform: scale(100%) translateY(-5px) translatex(-5px);
    -webkit-box-shadow: 5px 5px 14px 5px rgba(104, 44, 120, 0.51);
    box-shadow: 5px 5px 14px 5px rgba(104, 44, 120, 0.51);
    rotate: -0.4deg;
  }

  .description {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 300;
    
    align-items: center;
   
  }

  .text-dragonis {
    background: #c253e0;
    background: linear-gradient(to right, #c253e0 0%, #80e5e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  .text-dragonis2 {
    background: #c253e0;
    background: linear-gradient(to right, #c253e0 0%, #80e5e6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }
  
  .text-dragonis2:hover {
    cursor: pointer;
    
    background: linear-gradient(to bottom, #2F84B1 0%, #8729FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  


  @media (max-width: 768px) {
    .description {
      font-size: 16px;
     
    
    }
  }

  @media (max-width: 480px) {
    .description {
        
      font-size: 16px;
    }
  }


.footertext {
    letter-spacing: 4px
}


.links {
    
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1216px; /* Adjust the max-width value as needed */
    width: 100%;
    margin: 0;
    opacity: 50%;
    z-index: 100;
    background-color: #110516;
    transition: all 0.3s ease-in-out;
    

  }

.links:hover {
  opacity: 90%;
}
  
@media screen and (max-width:768px) {
    
    .links { 
        max-width: 684px; 
        padding-bottom: 10px;
    }
}

@media screen and (max-width:682px) {
    
    .links { 
        max-width: 600px; 
        
    }
}

@media screen and (max-width:620px) {
    
    .links { 
        max-width: 538px; 
    }
}

@media screen and (max-width:566px) {
    
    .links { 
        max-width: 485px; 
    }
}

@media screen and (max-width:488px) {
    
    .links { 
        max-width: 408px; 
    }
}

@media screen and (max-width:400px) {
    
    .links { 
        max-width: 350px; 
    }
}

@media screen and (max-width:376px) {
    
    .links { 
        max-width: 300px; 
    }
    .footertext {
        font-size: 12px
    }
}



.mobilenav {
  background-color: #110516;
  left: 0;
  top: 120px;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding-top: 60px;
  height: 100vh;
  z-index: 2;
}

.mobilenavlink {
  transition: all 0.1s ease-in-out;
  color: white;
  text-decoration: none;
}

.banner3d {
  border-radius: 3rem;
  transition: all 0.1s ease-in-out;
}

.banner3d:hover {
  cursor: pointer;
  opacity: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  
}

.overlay p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  opacity: 0.9;
}

.image-container {
  position: relative;
  display: inline-block;
}



.gallery{
  -webkit-column-count:3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

@media screen and (max-width:1060px){
  .gallery{
    -webkit-column-count:2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
    
  }
}

  @media screen and (max-width:480px){
    .gallery{
      -webkit-column-count:1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
      
    }
  
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  
  
}

.gallery .pics:hover {
  filter: opacity(50%)

}

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #110516;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.close2 {
  position: fixed;
  top: 5px;
  right: 30px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  
  opacity: 0.4;
  cursor: pointer;
}

.spinner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.gradientbackground {
  background: linear-gradient(to bottom right, #000000, #8629ff60);
  
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.form-container {
  max-width: 700px;
  
  min-height: 400px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 2rem;
}

.form-input {
  width: calc(100% - 50px);
  
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin: 1rem 0rem;
}

.form-textarea {
  width: calc(100% - 50px);
  min-height: 150px;
  padding: 10px;
  outline: none;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
}

.form-submit {
  margin-top: 1rem;
  cursor: pointer;
  background: #c253e0;
  background-color: linear-gradient(to right, #c253e0 0%, #80e5e6 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #8729FF;
}



.email-sent-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  animation: fadeOut 3s ease-in;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


.devbox {
  border-radius: 3rem;
  display: flex;
  padding: 0% 3%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, rgba(128, 229, 230, 1), rgba(134, 41, 255, 0.0));
  max-width: 500px;
  
  margin: 2rem 2rem;
  border: 1px solid white;
  box-sizing: border-box;
}

@media (max-width: 1158px) {
  .devdiv {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .devbox {
    height: auto; /* Set height to auto for dynamic height */
    max-height: 600px; /* Set a maximum height if necessary */
  }
}

.devbox > * {
  flex: 1;
}

.dev-art {
  transition: all 0.25s ease-in-out;
  padding-inline: 2rem;
}

.dev-art:hover {
  cursor: pointer;
  opacity: 100%;
  transform: scale(105%) ;
  
}